#------------------------------#
#   Framework Default Files    #
#------------------------------#


#--------------------------------#
#   IDE temporary directories    #
#--------------------------------#

/.idea/
